/* General */

body {
    background-color: rgba(0, 0, 0, 0.07);
}

h3 {
    font-size: 1.3em;
}

hr {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 1em;
    -webkit-padding-end: 1em;
}

.btn {
    height: 3em;
}

/* Header */

.header-title {
    text-align: center;
    padding: 1em;
    color: #878787;
}

/* Main Content */

.main-content {
    background-color: white;
    height: auto;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 0.2);
}

.title-content {
    padding: 2em 0.5em;
    color: #878787;
}

.content-item {
    margin-bottom: 1em;
}

.form-control::-webkit-input-placeholder { color: #d7d7d7; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #d7d7d7; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #d7d7d7; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #d7d7d7; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #d7d7d7; }  /* Microsoft Edge */

.col5 {
    width: 20%;
}

.pulse {
    display: block;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(135, 135, 135, 0.4);
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(135, 135, 135, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(135, 135, 135, 0.4);
        box-shadow: 0 0 0 0 rgba(135, 135, 135, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}